.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 calc(25% - 10px)!important;
  margin: 5px;
  margin-bottom: 25px;
  position: relative;
  background: #FFF;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.11);
  &:hover{
    .card__button{
      display: flex;
    }
  }
  &__button{
    background: #245462;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    bottom: 0;
    &:hover{
      opacity: 0.8;
      display: flex;
    }
  }
  &__about{
    padding: 0 20px 50px 20px;
    display: flex;
    flex-direction: column;
  }
  &__average{
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
  }
  &__img{
    margin-bottom: 10px;
    padding: 20px;
    img{
      width: 100%;
    }
  }
  &__name, &__text, &__price{
    font-size: 16px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
  }
  &__text{
    font-size: 11px;
    font-weight: 400;
  }
  &__date{
    color: #FFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }
}
.swiper-wrapper {
  .card{
    width: 100%;
  }
}

.card__about {
  padding: 0 20px 50px 20px!important;
}



$button-text-color: #fff;
$baby-blue: #f8faff;

.bubbly-button{
  display: none;
  &:hover{
    display: inline-block;
  }
  &:focus {
    outline: 0;
  }

  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before{
    display: none;
    top: -75%;
    background-image:
            radial-gradient(circle, #245462 20%, transparent 20%),
            radial-gradient(circle,  transparent 20%, #245462 20%, transparent 30%),
            radial-gradient(circle, #245462 20%, transparent 20%),
            radial-gradient(circle, #245462 20%, transparent 20%),
            radial-gradient(circle,  transparent 10%, #245462 15%, transparent 20%),
            radial-gradient(circle, #245462 20%, transparent 20%),
            radial-gradient(circle, #245462 20%, transparent 20%),
            radial-gradient(circle, #245462 20%, transparent 20%),
            radial-gradient(circle, #245462 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }

  &:after{
    display: none;
    bottom: -75%;
    background-image:
            radial-gradient(circle, #245462 20%, transparent 20%),
            radial-gradient(circle, #245462 20%, transparent 20%),
            radial-gradient(circle,  transparent 10%, #245462 15%, transparent 20%),
            radial-gradient(circle, #245462 20%, transparent 20%),
            radial-gradient(circle, #245462 20%, transparent 20%),
            radial-gradient(circle, #245462 20%, transparent 20%),
            radial-gradient(circle, #245462 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  &:active{
    transform: scale(0.9);
    background: #245462;
  }

  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}